extends layout

block content
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container-right
          #header-nav-bar
          .inner.cover
            .body-group
              #main-frame
  
